.env
.env.local
.env.*.local

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

frontend/dist/
frontend/dist-ssr/

.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

ml/data/

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

*.log
logs/

.dockerignore